.mainNav{
    .navSearch{
        border: 1px solid #eee;
        border-radius: 30px;
        padding: 10px;
        p{
            // font-weight: 900;
            // padding: 2% !important;
        }
    }
}