.homeNavs{
    background-color: #fff;
    // z-index: 0;
}
.homeContent{
    padding-top: 200px;
}

.homeCardBox{
    width: 24%;
    // border: 1px solid #eee;
    // padding: 5px;
    border-radius: 30px;
    img{
        border-radius: 30px;
    }
}