.homeNavs{
    background-color: #fff;
    // z-index: 0;
}
.homeContent{
    padding-top: 220px;
}

.homeCardBox{
    width: 24%;
    position: relative;
    border-radius: 30px;
    img{
        border-radius: 15px;
    }
    .CardBoxHeartIcon{
        position: absolute;
        top: 10px;
        font-size: 22px;
        color: #EEE;
        z-index: 1000;
        right: 20px;
    }
}
@media (max-width: 768px) {
    .homeCardBox{
        margin: 10px auto;
        width: 49%;
    }
}